body{
    background-color: #212121;
}
.logo{
    width:150px;
}
a{
    text-decoration: none;
    color:black;
    font-size:25px;
    
    margin:15px;
    
}
.link{
    flex:1;
    margin-left:auto;
    align-self: center;
}
nav{
    background-color: white;
    display:flex;
}
a:hover{
    background-color: white;
    color:gray;
    border:3px solid gray;
}
.oturum-islemleri{
    align-self:center;
}
.card{
    display: inline-block;
    width:25%;
    background-color: gray;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    text-align: center;
    padding:15px;
    margin:30px;
    border-radius: 30px;
    
}
.blog-resmi{
    width:90%;
    border-radius:10px;
    filter: grayscale(100%);
    transition: all .6s;
}
.blog-resmi:hover{
    transition: all .6s;
    width: 100%;
    filter: grayscale(0%);
}
.card>span{
    background-color: lightblue;
    padding: 5px;
    border-radius: 7px;
}
.avatar{
    width:50px;
    border-radius: 50%;
    transition: all .2s;
}
.avatar:hover{
    border:3px solid black;
    transition: all .2s;
}
.isim{
    display: block;
}
small{
    background-color: #212121;
    color:white;

}
button{
    background-color: aquamarine;
    border: none;
    border-radius: 30px;

}
button:hover{
    background-color: rgb(127, 200, 255);
    border:none;
    transition: all .2s;
}
