body{
    text-align: center;
}

.header {
    display: flex;
    padding: 20px 30px;
}


.header_right {
    margin-left: auto;
}

.header_right .header_apps {
    margin-right: 10px;
}

.mainBody {
    margin-top: 12%;
    text-align: center;
}

.mainBody img {
    height: 100px;
    width: auto;
}
.search_input {
    border: 1px solid lightgray;
    height: 30px; 
    padding: 10px 20px;
    border-radius: 999px;
    margin-top: 40px;
    max-width: 560px;
    margin:auto;
}

.search_input input {
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search_buttons {
    margin-top: 30px;
}

.search_buttons button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
}